@import "../../../assets/app.scss";

//! ********** VARIABLES **********

$width: 30px;
$height: 30px;
$font-size: 1.2rem;

//! ********** MAIN **********

footer {
  display: flex;
  place-content: center;
  position: fixed;
  z-index: 1000;
  bottom: 5px;
  width: 100%;

  li {
    display: flex;
    place-content: center;
    place-items: center;
    border: solid 2px $silver;
    border-radius: 50%;
    width: $width;
    height: $height;
    font-size: $font-size;
    background-color: $white;
  }

  a:hover,
  a:focus {
    transform: scale(1.1);
    transition: transform 500ms;
  }

  i {
    color: $gray;
  }

  //? ********** XS **********

  @media (min-width: $xs) {
    li {
      width: calc($width + 5px);
      height: calc($height + 5px);
      font-size: calc($font-size * 1.2);
    }
  }

  //? ********** SM **********

  @media (min-width: $sm) {
    li {
      width: calc($width + 10px);
      height: calc($height + 10px);
      font-size: calc($font-size * 1.4);
    }
  }

  //? ********** MD **********

  @media (min-width: $md) {
    li {
      width: calc($width + 15px);
      height: calc($height + 15px);
      font-size: calc($font-size * 1.6);
    }
  }

  //? ********** LG **********

  @media (min-width: $lg) {
    li {
      width: calc($width + 20px);
      height: calc($height + 20px);
      font-size: calc($font-size * 1.8);
    }
  }

  //? ********** XL **********

  @media (min-width: $xl) {
    li {
      width: calc($width + 25px);
      height: calc($height + 25px);
      font-size: calc($font-size * 2);
    }
  }

  //? ********** WD **********

  @media (min-width: $wd) {
    li {
      width: calc($width + 30px);
      height: calc($height + 30px);
      font-size: calc($font-size * 2.2);
    }
  }
}
