@import "../../../assets/style/app.scss";

//! ********** VARIABLES **********

$size: 30px;
$font: 1.2rem;

$block-sizes: (
  "tn": 5px,
  "xs": 10px,
  "sm": 15px,
  "md": 20px,
  "lg": 25px,
  "xl": 30px,
  "wd": 35px
) !default;

$font-ratios: (
  "tn": 1.2,
  "xs": 1.4,
  "sm": 1.6,
  "md": 1.8,
  "lg": 2,
  "xl": 2.2,
  "wd": 2.4
) !default;

//! ********** MIXIN **********

@mixin footer($block-size, $font-ratio) {
  width: calc($size + $block-size);
  height: calc($size + $block-size);
  font-size: calc($font * $font-ratio);
}

//! ********** MAIN **********

footer {
  display: flex;
  place-content: center;
  position: fixed;
  z-index: 1000;
  bottom: 5px;
  width: 100%;

  li {
    display: flex;
    place-content: center;
    place-items: center;
    border: solid 2px $silver;
    border-radius: 50%;
    width: $size;
    height: $size;
    font-size: $font;
    background-color: $white;
  }

  a:hover,
  a:focus {
    transform: scale(1.1);
    transition: transform 500ms;
  }

  i {
    color: $gray;
  }

  li {

    //! ********** RESPONSIVE **********

    @each $breakpoint-key, $breakpoint-value in $breakpoints {
      @media (min-width: $breakpoint-value) {

        @include footer(
          map-get($block-sizes, $breakpoint-key),
          map-get($font-ratios, $breakpoint-key)
        );
      }
    }
  }
}
