@import "../../../assets/style/app.scss";

//! ********** VARIABLES **********

$height: 105px;

$height-sizes: (
  "tn": 10px,
  "xs": 85px,
  "sm": 155px,
  "md": 235px,
  "lg": 260px,
  "xl": 285px,
  "wd": 300px
) !default;

//! ********** MIXIN **********

@mixin stats($size) {
  height: calc($height + $size);
}

//! ********** MAIN **********

[id="stats"] {

  &:hover > *:first-child i,
  &:focus > *:first-child i {
    animation: turn-z 2s linear infinite reverse;
  }

  img {
    height: $height;

    //! ********** RESPONSIVE **********

    @each $breakpoint-key, $breakpoint-value in $breakpoints {
      @media (min-width: $breakpoint-value) {
        @include stats(map-get($height-sizes, $breakpoint-key));
      }
    }
  }
}
