@import "../../../assets/style/app.scss";

//! ********** VARIABLES **********

$width-sizes: (
  "tn": 10px,
  "xs": 15px,
  "sm": 20px,
  "md": 25px,
  "lg": 30px,
  "xl": 35px,
  "wd": 40px
  ) !default;

$width-ratios: (
  "tn": 2,
  "xs": 2,
  "sm": 3,
  "md": 3,
  "lg": 4,
  "xl": 4,
  "wd": 5
  ) !default;

//! ********** MIXIN **********

@mixin portfolio($size, $ratio) {
  width: calc((100% - ($ratio - 1) * $size) / $ratio);
}

//! ********** MAIN **********

[id="portfolio"] {

  &:hover > *:first-child i,
  &:focus > *:first-child i {
    animation: turn-x 2s linear infinite reverse;
  }

  figcaption {
    display: flex;
    flex-flow: column;
    place-content: space-evenly;

    & > * {
      margin: 0;
    }
  }

  .collapse {
    & > figure {
      animation: slide-right 500ms ease-in-out;
    }

    &:hover summary i,
    &:focus summary i,
    &[open] summary i {
      animation: turn-xy 2s linear infinite reverse;
    }

    figure > * > li {
      @each $breakpoint-key, $breakpoint-value in $breakpoints {
        @media (min-width: $breakpoint-value) {

          @include portfolio(
            map-get($width-sizes, $breakpoint-key),
            map-get($width-ratios, $breakpoint-key)
          );
        }
      }
    }
  }
}
