//! ********** TECHNOS **********

[open] .fa-html5,
*:hover > * > .fa-html5,
*:focus > * > * > .fa-html5 {
  color: #E44D26;
}

[open] .fa-css3,
*:hover > * > .fa-css3,
*:focus > * > * > .fa-css3 {
  color: #1572B6;
}

[open] .fa-square-js,
*:hover > * > .fa-square-js,
*:focus > * > * > .fa-square-js {
  color: #F0DB4F;
}

[open] .fa-vuejs,
*:hover > * > .fa-vuejs,
*:focus > * > * > .fa-vuejs {
  color: #42B883;
}

[open] .fa-node-js,
*:hover > * > .fa-node-js,
*:focus > * > * > .fa-node-js {
  color: #68A063;
}

[open] .fa-php,
*:hover > * > .fa-php,
*:focus > * > * > .fa-php {
  color: #777BB4;
}

[open] .fa-python,
*:hover > * > .fa-python,
*:focus > * > * > .fa-python {
  color: #3776AB;
}

[open] .fa-database,
*:hover > * > .fa-database,
*:focus > * > * > .fa-database {
  color: #00758F;
}

[open] .fa-square-git,
*:hover > * > .fa-square-git,
*:focus > * > * > .fa-square-git {
  color: #F05032;
}

[open] .fa-dev,
*:hover > * > .fa-dev,
*:focus > * > * > .fa-dev {
  color: #000;
}

//! ********** SOCIAL **********

*:hover > .fa-codepen,
*:focus > .fa-codepen {
  color: #000;
}

*:hover > .fa-github,
*:focus > .fa-github {
  color: #010409;
}

*:hover > .fa-linkedin-in,
*:focus > .fa-linkedin-in {
  color: #0077B5;
}

*:hover > .fa-medium,
*:focus > .fa-medium {
  color: #00AB6C;
}

*:hover > .fa-npm,
*:focus > .fa-npm {
  color: #EA2039;
}

*:hover > .fa-x-twitter,
*:focus > .fa-x-twitter {
  color: #1DA1F2;
}
