@import "../../../assets/app.scss";

//! ********** VARIABLES **********

$font-size: 0.7rem;
$padding: 2px;
$height: 30px;
$gap: 10px;

//! ********** MAIN **********

[id="navbar"] {
  display: flex;
  place-content: space-between;
  place-items: center;
  position: fixed;
  z-index: 10;
  top: 0;
  box-sizing: border-box;
  padding: 0 $size;
  width: 100%;
  font-size: $font-size;
  background-color: $primary;
  color: $white;

  img {
    padding: $padding 0;
    height: $height;
  }

  ul {
    display: flex;
    gap: $gap;
  }

  a:hover,
  a:focus {
    color: $green;
    transform: scale(0.9);
    transition: all 500ms;
  }

  b {
    display: none;
  }

  //! ********** XS **********

  @media (min-width: $xs) {
    padding: 0 calc($size * 2);
    font-size: calc($font-size + 0.1rem);

    img {
      padding: calc($padding + 1px) 0;
      height: calc($height + 5px);
    }

    ul {
      gap: calc($gap * 2);
    }
  }

  //! ********** SM **********

  @media (min-width: $sm) {
    padding: 0 calc($size * 3);
    font-size: calc($font-size + 0.2rem);

    img {
      padding: calc($padding + 2px) 0;
      height: calc($height + 10px);
    }

    ul {
      gap: calc($gap * 3);
    }

    a {
      display: flex;
      gap: 10px;
      place-items: center;
    }

    b {
      display: block;
      text-transform: uppercase;
    }
  }

  //! ********** MD **********

  @media (min-width: $md) {
    padding: 0 calc($size * 4);
    font-size: calc($font-size + 0.3rem);

    img {
      padding: calc($padding + 3px) 0;
      height: calc($height + 15px);
    }

    ul {
      gap: calc($gap * 4);
    }
  }

  //! ********** LG **********

  @media (min-width: $lg) {
    padding: 0 calc($size * 5);
    font-size: calc($font-size + 0.4rem);

    img {
      padding: calc($padding + 4px) 0;
      height: calc($height + 20px);
    }

    ul {
      gap: calc($gap * 5);
    }

    b {
      text-transform: capitalize;
    }
  }

  //! ********** XL **********

  @media (min-width: $xl) {
    padding: 0 calc($size * 6);
    font-size: calc($font-size + 0.5rem);

    img {
      padding: calc($padding + 5px) 0;
      height: calc($height + 25px);
    }

    ul {
      gap: calc($gap * 6);
    }
  }

  //! ********** WD **********

  @media (min-width: $wd) {
    padding: 0 calc($size * 7);
    font-size: calc($font-size + 0.6rem);

    img {
      padding: calc($padding + 6px) 0;
      height: calc($height + 30px);
    }

    ul {
      gap: calc($gap * 7);
    }
  }
}