@import '../../../assets/style/main.scss';

//! ********** VARIABLES **********

$padding-x: 10px;
$padding-y: 2px;
$font: 0.7rem;

$padding-sizes: (
  "tn": 1px,
  "xs": 2px,
  "sm": 3px,
  "md": 4px,
  "lg": 5px,
  "xl": 6px,
  "wd": 7px
) !default;

$padding-ratios: (
  "tn": 2,
  "xs": 3,
  "sm": 4,
  "md": 0,
  "lg": 0,
  "xl": 0,
  "wd": 0
) !default;

$font-sizes: (
  "tn": 0.1rem,
  "xs": 0.2rem,
  "sm": 0.3rem,
  "md": 0.4rem,
  "lg": 0.5rem,
  "xl": 0.6rem,
  "wd": 0.7rem
) !default;

//! ********** MIXIN **********

@mixin navbar($padding-size, $padding-ratio, $font-size) {
  padding: calc($padding-y + $padding-size) calc($padding-x * $padding-ratio);
  font-size: calc($font + $font-size);
}

//! ********** MAIN **********

.navbar {
  display: flex;
  place-content: center;
  place-items: center;
  position: fixed;
  z-index: 1000;
  top: 0;
  box-sizing: border-box;
  padding: $padding-y $padding-x;
  width: 100%;
  font-size: $font;
  background-color: $primary;
  color: $black;

  ul {
    flex-flow: nowrap;
  }

  //! ********** RESPONSIVE **********

  @each $breakpoint-key, $breakpoint-value in $breakpoints {
    @media (min-width: $breakpoint-value) {

      @include navbar(
        map-get($padding-sizes, $breakpoint-key),
        map-get($padding-ratios, $breakpoint-key),
        map-get($font-sizes, $breakpoint-key)
      );
    }
  }

  //? ********** MD **********

  @media (min-width: $md) {
    place-content: space-around;
  }
}
