//! ********** RULES **********

@mixin font-face($font-family) {
  @font-face {
    font-family: $font-family;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src:
      local("#{$font-family}-Regular"),
      url("/fonts/#{$font-family}-Regular.woff2") format("woff2");
  }
}

@mixin keyframes($key, $value) {
  @keyframes #{$key} {
    from {
      transform: #{$value};
    }
  }
}

//! ********** APP **********

@mixin font($font-ratio) {
  font-size: calc($font * $font-ratio);
}
