@import "../../../assets/app.scss";

[id="blog"] {
  &:hover > *:first-child i,
  &:focus > *:first-child i {
    animation: turn-y 2s linear infinite reverse;
  }

  .collapse {
    .translate {
      animation: slide-left 500ms ease-in-out;
    }

    &:hover i,
    &:focus i {
      animation: turn-xz 2s linear infinite reverse;
    }
  }
}
