@import "../../../assets/app.scss";

//! ********** VARIABLES **********

$top: 40px;
$left: 10px; 
$bottom: -5px;
$font-size: 1.5rem;

$top-sizes: (
  "tn": 48px,
  "xs": 52px,
  "sm": 56px,
  "md": 62px,
  "lg": 74px,
  "xl": 80px,
  "wd": 90px
) !default;

$left-sizes: (
  "tn": 14px,
  "xs": 16px,
  "sm": 18px,
  "md": 22px,
  "lg": 26px,
  "xl": 30px,
  "wd": 35px
) !default;

$bottom-ratios: (
  "tn": 1,
  "xs": 1.5,
  "sm": 2,
  "md": 4,
  "lg": 6,
  "xl": 8,
  "wd": 10
) !default;

$font-ratios: (
  "tn": 1.5,
  "xs": 2,
  "sm": 2.5,
  "md": 3,
  "lg": 3.5,
  "xl": 4,
  "wd": 4.5
) !default;

//! ********** MIXINS **********

@mixin top($size) {
  [class*="left"],
  [class*="right"] {
    top: calc(50% - $size);
  }
}

@mixin left($size) {
  [class*="play"],
  [class*="pause"] {
    left: calc(50% - $size);
  }
}

@mixin bottom($ratio) {
  [class*="play"],
  [class*="pause"] {
    bottom: calc($bottom * $ratio);
  }
}

@mixin font($ratio) {
  i {
    font-size: calc($font-size * $ratio);
  }
}

//! ********** MAIN **********

.slider {
  position: relative;
  margin: 0;
  padding: 0 20px 32px;

  & + * {
    display: flex;
    flex-flow: column;
    place-content: center;
    place-items: center;
  }

  nav {
    i {
      position: absolute;
      color: $white;
      cursor: pointer;
    }

    [class*="left"] {
      left: 0;
    }

    [class*="right"] {
      right: 0;
    }

    @include top($top);
    @include left($left);
    @include bottom(0);
    @include font(1);

    //! ********** RESPONSIVE **********

    @each $b-key, $breakpoint in $breakpoints {
      @media (min-width: $breakpoint) {
  
        @each $key, $size in $top-sizes {
          @if $key == $b-key {
            @include top($size);
          }
        }

        @each $key, $size in $left-sizes {
          @if $key == $b-key {
            @include left($size);
          }
        }

        @each $key, $ratio in $bottom-ratios {
          @if $key == $b-key {
            @include bottom($ratio);
          }
        }

        @each $key, $ratio in $font-ratios {
          @if $key == $b-key {
            @include font($ratio);
          }
        }
      }
    }
  }
}
