@import "../../../assets/app.scss";

//! ********** VARIABLES **********

$top-sizes: (
  "tn": 48px,
  "xs": 52px,
  "sm": 56px,
  "md": 62px,
  "lg": 74px,
  "xl": 80px,
  "wd": 90px
) !default;

$left-sizes: (
  "tn": 14px,
  "xs": 16px,
  "sm": 18px,
  "md": 22px,
  "lg": 26px,
  "xl": 30px,
  "wd": 35px
) !default;

$bottom-ratios: (
  "tn": 1,
  "xs": 1.5,
  "sm": 2,
  "md": 4,
  "lg": 6,
  "xl": 8,
  "wd": 10
) !default;

$font-ratios: (
  "tn": 1.5,
  "xs": 2,
  "sm": 2.5,
  "md": 3,
  "lg": 3.5,
  "xl": 4,
  "wd": 4.5
) !default;

//! ********** MIXIN **********

@mixin slider($top-size, $left-size, $bottom-ratio, $font-ratio) {
  [class*="left"],
  [class*="right"] {
    top: calc(50% - $top-size);
  }

  [class*="play"],
  [class*="pause"] {
    left: calc(50% - $left-size);
    bottom: calc(-5px * $bottom-ratio);
  }

  i {
    font-size: calc(1.5rem * $font-ratio);
  }
}

//! ********** MAIN **********

.slider {
  position: relative;
  margin: 0;
  padding: 0 20px 32px;

  & + * {
    display: flex;
    flex-flow: column;
    place-content: center;
    place-items: center;
  }

  nav {
    i {
      position: absolute;
      color: $white;
      cursor: pointer;
    }

    [class*="left"] {
      left: 0;
    }

    [class*="right"] {
      right: 0;
    }

    @include slider(40px, 10px, 0, 1);

    //! ********** RESPONSIVE **********

    @each $breakpoint-key, $breakpoint-value in $breakpoints {
      @media (min-width: $breakpoint-value) {

        @include slider(
          map-get($top-sizes, $breakpoint-key),
          map-get($left-sizes, $breakpoint-key),
          map-get($bottom-ratios, $breakpoint-key),
          map-get($font-ratios, $breakpoint-key)
        );
      }
    }
  }
}
