@import "../../../assets/app.scss";

//! ********** VARIABLES **********

$radius-size: 5px;
$width-size: 150px;

$radius-ratios: (
  "tn": 1.5,
  "xs": 2,
  "sm": 2.5,
  "md": 3,
  "lg": 3.5,
  "xl": 4,
  "wd": 4.5
  ) !default;

$width-sizes: (
  "tn": 10px,
  "xs": 20px,
  "sm": 30px,
  "md": 40px,
  "lg": 50px,
  "xl": 60px,
  "wd": 70px
  ) !default;

//! ********** MIXINS **********

@mixin collapse-radius($ratio) {
  border-radius: calc($radius-size * $ratio);
}

@mixin collapse-width($size) {
  width: calc($width-size + $size);
}

//! ********** MAIN **********

.collapse {
  & > figure {
    margin: 20px;
  }

  &[open] summary,
  summary:hover,
  summary:focus {
    background-color: $white;
    color: $gray;
  }

  summary {
    margin: auto;
    border-radius: $radius-size;
    width: $width-size;
    list-style: none;
    background-color: $secondary;
    color: $black;
    cursor: pointer;

    :first-child {
      margin: 0;
      padding: 1px;
    }

    //! ********** RESPONSIVE **********

    @each $breakpoint-key, $breakpoint-value in $breakpoints {
      @media (min-width: $breakpoint-value) {

        @each $radius-key, $radius-value in $radius-ratios {
          @if $radius-key == $breakpoint-key {
            @include collapse-radius($radius-value);
          }
        }

        @each $width-key, $width-value in $width-sizes {
          @if $width-key == $breakpoint-key {
            @include collapse-width($width-value);
          }
        }
      }
    }
  }
}
