@import "../../../assets/app.scss";

//! ********** VARIABLES **********

$radius: 5px;
$width: 150px;

//! ********** MAIN **********

.collapse {
  & > figure {
    margin: 20px;
  }

  &[open] summary,
  summary:hover,
  summary:focus {
    background-color: $white;
    color: $gray;
  }

  summary {
    margin: auto;
    border-radius: $radius;
    width: $width;
    list-style: none;
    background-color: $secondary;
    color: $black;
    cursor: pointer;

    :first-child {
      margin: 0;
    }

    //? ********** XS **********

    @media (min-width: $xs) {
      width: calc($width + 10px);
    }

    //? ********** SM **********

    @media (min-width: $sm) {
      border-radius: calc($radius * 2);
      width: calc($width + 30px);
    }

    //? ********** MD **********

    @media (min-width: $md) {
      width: calc($width + 50px);
    }

    //? ********** LG **********

    @media (min-width: $lg) {
      border-radius: calc($radius * 3);
      width: calc($width + 70px);
    }

    //? ********** XL **********

    @media (min-width: $xl) {
      width: calc($width + 80px);
    }

    //? ********** WD **********

    @media (min-width: $wd) {
      border-radius: calc($radius * 4);
      width: calc($width + 100px);
    }
  }
}
