@import "../../../assets/app.scss";

//! ********** VARIABLES **********

$radius: 5px;
$width: 150px;

$ratios: (
  "tn": 1.5,
  "xs": 2,
  "sm": 2.5,
  "md": 3,
  "lg": 3.5,
  "xl": 4,
  "wd": 4.5
  ) !default;

$sizes: (
  "tn": 10px,
  "xs": 20px,
  "sm": 30px,
  "md": 40px,
  "lg": 50px,
  "xl": 60px,
  "wd": 70px
  ) !default;

//! ********** MIXINS **********

@mixin radius($ratio) {
  border-radius: calc($radius * $ratio);
}

@mixin width($size) {
  width: calc($width + $size);
}

//! ********** MAIN **********

.collapse {
  & > figure {
    margin: 20px;
  }

  &[open] summary,
  summary:hover,
  summary:focus {
    background-color: $white;
    color: $gray;
  }

  summary {
    margin: auto;
    border-radius: $radius;
    width: $width;
    list-style: none;
    background-color: $secondary;
    color: $black;
    cursor: pointer;

    :first-child {
      margin: 0;
      padding: 1px;
    }

    //! ********** BREAKPOINTS **********

    @each $b-key, $breakpoint in $breakpoints {
      @media (min-width: $breakpoint) {

        @each $key, $ratio in $ratios {
          @if $key == $b-key {
            @include radius($ratio);
          }
        }

        @each $key, $size in $sizes {
          @if $key == $b-key {
            @include width($size);
          }
        }
      }
    }
  }
}
