@mixin font-face($font-family) {
  @font-face {
    font-family: $font-family;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src:
      local("#{$font-family}-Regular"),
      url("/fonts/#{$font-family}-Regular.woff2") format("woff2");
  }
}

@mixin keyframes($key, $value) {
  @keyframes #{$key} {
    from {
      transform: #{$value};
    }
  }
}

@mixin body($font-ratio) {
  font-size: calc($font * $font-ratio);
}

@mixin molecules($border-ratio, $padding-ratio) {
  border-width: calc($border * $border-ratio);
  padding: calc($padding * $padding-ratio * 4) calc($padding * $padding-ratio);
}

@mixin icon($name, $color) {
  [open] .fa-#{$name},
  *:hover > * > .fa-#{$name},
  *:focus > * > * > .fa-#{$name} {
    color: $color;
  }
}
