@import '../../assets/style/main.scss';

//! ********** MAIN **********

[id=portfolio] {

  &:hover > .title i {
    animation: turn-x 2s linear infinite reverse;
  }

  .collapse {
    & > figure {
      animation: slide-right 500ms ease-in-out;
    }

    &:hover summary i,
    summary:focus i,
    &[open] summary i {
      animation: turn-xy 2s linear infinite reverse;
    }
  }
}
