@import "../../../assets/style/main.scss";

//! ********** VARIABLES **********

$gap: 5px;
$margin: 20px;
$title: 1.2rem;
$subtitle: 0.6;

$gap-ratios: (
  "tn": 1.1,
  "xs": 1.2,
  "sm": 1.3,
  "md": 1.4,
  "lg": 1.5,
  "xl": 1.6,
  "wd": 1.7
) !default;

$margin-ratios: (
  "tn": 1.2,
  "xs": 1.4,
  "sm": 1.6,
  "md": 1.8,
  "lg": 2,
  "xl": 2.2,
  "wd": 2.4
) !default;

$screen-ratios: (
  "tn": 1.1,
  "xs": 1.2,
  "sm": 1.3,
  "md": 1.4,
  "lg": 1.5,
  "xl": 1.6,
  "wd": 1.7)
  !default;

$title-ratios: (
  "h1": 1.8,
  "h2": 1.5,
  "h3": 1.2)
  !default;

//! ********** MIXIN **********

@mixin title-gap($ratio) {
  gap: calc($gap * $ratio);
}

@mixin title-margin($ratio) {
  margin: 0 0 calc($margin * $ratio);
}

@mixin title-font($level, $title-ratio, $screen-ratio: 1) {
  $font-size: calc($title * $title-ratio * $screen-ratio);

  #{$level} {
    font-size: $font-size;

    & + p {
      font-size: calc($font-size * $subtitle);
    }
  }
}

//! ********** MAIN **********

.title {
  display: flex;
  flex-flow: column;
  gap: $gap;
  margin: 0 0 $margin;
  font-family: $serif;

  h1,
  h2,
  h3,
  p {
    margin: 0;
  }

  h1,
  h2,
  h3 {
    & + p {
      color: $silver;
    }
  }

  @each $title-key, $title-value in $title-ratios {
    @include title-font($title-key, $title-value);
  }

  //! ********** BREAKPOINTS **********

  @each $breakpoint-key, $breakpoint-value in $breakpoints {
    @media (min-width: $breakpoint-value) {

      @each $gap-key, $gap-value in $gap-ratios {
        @if $gap-key == $breakpoint-key {
          @include title-gap($gap-value);
        }
      }

      @each $margin-key, $margin-value in $margin-ratios {
        @if $margin-key == $breakpoint-key {
          @include title-margin($margin-value);
        }
      }

      @each $screen-key, $screen-value in $screen-ratios {
        @if $screen-key == $breakpoint-key {

          @each $title-key, $title-value in $title-ratios {
            @include title-font($title-key, $title-value, $screen-value);
          }
        }
      }
    }
  }
}
