@import '../../../assets/style/main.scss';

//! ********** VARIABLES **********

$gap: 5px;
$margin: 20px;
$title: 1.2rem;
$subtitle: 0.7;

$gap-ratios: (
  "tn": 1.1,
  "xs": 1.2,
  "sm": 1.3,
  "md": 1.4,
  "lg": 1.5,
  "xl": 1.6,
  "wd": 1.7
) !default;

$margin-ratios: (
  "tn": 1.2,
  "xs": 1.4,
  "sm": 1.6,
  "md": 1.8,
  "lg": 2,
  "xl": 2.2,
  "wd": 2.4
) !default;

$screen-ratios: (
  "tn": 1.1,
  "xs": 1.2,
  "sm": 1.3,
  "md": 1.4,
  "lg": 1.5,
  "xl": 1.6,
  "wd": 1.7
  ) !default;

$title-ratios: (
  "h1": 1.6,
  "h2": 1.4,
  "h3": 1.2,
  "h4": 1
  ) !default;

//! ********** MIXINS **********

@mixin title-size($gap-ratio, $margin-ratio) {
  gap: calc($gap * $gap-ratio);
  margin: 0 0 calc($margin * $margin-ratio);
}

@mixin title-font($level, $title-ratio, $screen-ratio: 1) {
  $font-size: calc($title * $title-ratio * $screen-ratio);

  #{$level} {
    font-size: $font-size;

    & + p {
      font-size: calc($font-size * $subtitle);
    }
  }
}

//! ********** MAIN **********

.title {
  display: flex;
  flex-flow: column;
  gap: $gap;
  margin: 0 0 $margin;
  font-family: $serif;

  h1,
  h2,
  h3,
  h4,
  p {
    margin: 0;
  }

  h1,
  h2,
  h3,
  h4 {
    & + p {
      color: $silver;
    }
  }

  @each $title-key, $title-value in $title-ratios {
    @include title-font($title-key, $title-value);
  }

  //! ********** RESPONSIVE **********

  @each $breakpoint-key, $breakpoint-value in $breakpoints {
    @media (min-width: $breakpoint-value) {

      @include title-size(
        map-get($gap-ratios, $breakpoint-key),
        map-get($margin-ratios, $breakpoint-key)
      );

      @each $screen-key, $screen-value in $screen-ratios {
        @if $screen-key == $breakpoint-key {

          @each $title-key, $title-value in $title-ratios {
            @include title-font($title-key, $title-value, $screen-value);
          }
        }
      }
    }
  }
}
