@import '../../assets/style.scss';

//! ********** VARIABLES **********

$height: 80px;

$height-sizes: (
  "md": 3rem,
  "lg": 5rem
) !default;

//! ********** MIXIN **********

@mixin skills($size) {
  ul {
    height: calc($height + $size);

    i {
      font-size: calc(3rem + $size);
    }
  }
}

@mixin skill($name, $color) {
  .fa-#{$name} {
    color: $color;
  }
}

//! ********** MAIN **********

[id=skills] {
  &:hover > .title i {
    animation: turn-z 3s linear infinite reverse;
  }

  ul {
    height: $height;
  }

    //! ********** RESPONSIVE **********

  @each $breakpoint-key, $breakpoint-value in $breakpoints {
    @media (min-width: $breakpoint-value) {
      @include skills(map-get($height-sizes, $breakpoint-key));
    }
  }

  @each $name, $color in $icons {
    @include skill($name, $color);
  }
}
