@import '../../assets/style';

@mixin skills($name, $color) {
  .fa-#{$name} {
    color: $color;
  }
}

[id=skills] {
  &:hover > .title i {
    animation: turn-z 3s linear infinite reverse;
  }

  @each $name, $color in $icons {
    @include skills($name, $color);
  }

  ul {
    height: 80px;

    i {
      font-size: 4rem;
    }
  }

  @media (min-width: $md) {
    ul {
      height: 120px;
  
      i {
        font-size: 6rem;
      }
    }
  }

  @media (min-width: $lg) {
    ul {
      height: 160px;
  
      i {
        font-size: 8rem;
      }
    }
  }
}
