[id="intro"] {
  p {
    margin: 50px auto;
    width: 320px;
    font-size: 2rem;
  }

  ul {
    display: flex;
    flex-flow: column;
    gap: 10px;
    margin: auto;
    border: solid 2px var(--primary);
    border-radius: 20px;
    padding: 20px;
    width: fit-content;
    font-size: 1.2rem;
    background-color: var(--silver);
  }
}
