@import "../../../assets/app.scss";

//! ********** VARIABLES **********

$font-size: 1.2rem;

//! ********** MAIN **********

[id="intro"] {

  &:hover > hgroup i,
  &:focus > hgroup i {
    animation: turn-3d 2s linear infinite reverse;
  }

  ul {
    display: flex;
    flex-flow: column;
    gap: 10px;
    margin: auto;
    border: solid 2px $silver;
    border-radius: 20px;
    padding: 20px;
    width: fit-content;
    font-size: $font-size;
    background-color: $gray;
    animation: grow-max 1s;

    //! ********** XS **********

    @media (min-width: $xs) {
      font-size: calc($font-size * 1.1);
    }

    //! ********** SM **********

    @media (min-width: $sm) {
      font-size: calc($font-size * 1.2);
    }

    //! ********** MD **********

    @media (min-width: $md) {
      font-size: calc($font-size * 1.3);
    }

    //! ********** LG **********

    @media (min-width: $lg) {
      font-size: calc($font-size * 1.4);
    }

    //! ********** XL **********

    @media (min-width: $xl) {
      font-size: calc($font-size * 1.5);
    }

    //! ********** WD **********

    @media (min-width: $wd) {
      font-size: calc($font-size * 1.6);
    }
  }
}
