@import "../../../assets/app.scss";

[id="intro"] {

  ul {
    display: flex;
    flex-flow: column;
    gap: 10px;
    margin: auto;
    border: solid 2px $primary;
    border-radius: 20px;
    padding: 20px;
    width: fit-content;
    font-size: 1.2rem;
    background-color: $silver;
  }
}
