@import "../../../assets/app.scss";

[id="portfolio"] {
  &:hover > *:first-child i,
  &:focus > *:first-child i {
    animation: turn-x 2s linear infinite reverse;
  }

  .collapse {
    .translate {
      animation: slide-right 500ms ease-in-out;
    }

    &:hover i,
    &:focus i {
      animation: turn-xy 2s linear infinite reverse;
    }
  }
}
