@import "../../../assets/app.scss";

[id="portfolio"] {
  &:hover > *:first-child i,
  &:focus > *:first-child i {
    animation: turn-x 2s linear infinite reverse;
  }

  .collapse {
    .translate {
      animation: slide-right 500ms ease-in-out;
    }

    &:hover i,
    &:focus i {
      animation: turn-xy 2s linear infinite reverse;
    }

    //? ********** SM **********

    @media (min-width: $sm) {
      li {
        width: calc((100% - 15px) / 2);
      }
    }

    //? ********** MD **********

    @media (min-width: $md) {
      li {
        width: calc((100% - 40px) / 3);
      }
    }

    //? ********** XL **********

    @media (min-width: $xl) {
      li {
        width: calc((100% - 50px) / 3);
      }
    }

    //? ********** WD **********

    @media (min-width: $wd) {
      li {
        width: calc((100% - 90px) / 4);
      }
    }
  }
}