@import "../../../assets/main.scss";

footer {
  display: flex;
  place-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 1rem;

  ul {
    display: flex;
    gap: 5px;
    place-content: center;
  }

  li {
    border-radius: 50%;
    padding: 5px;
    background-color: $white;
  }
}