@import "../../../assets/style/app.scss";

//! ********** VARIABLES **********

$gap-size: 5px;

$gap-ratios: (
  "tn": 1.5,
  "xs": 2,
  "sm": 2.5,
  "md": 3,
  "lg": 3.5,
  "xl": 4,
  "wd": 4.5
  ) !default;

//! ********** MIXIN **********

@mixin list($ratio) {
  gap: calc($gap-size * $ratio);
}

//! ********** MAIN **********

.list {
  display: flex;
  flex-flow: wrap;
  gap: $gap-size;
  place-content: center;
  place-items: center;
  margin: 0;
  padding: 0;
  list-style: none;

  //! ********** RESPONSIVE **********

  @each $breakpoint-key, $breakpoint-value in $breakpoints {
    @media (min-width: $breakpoint-value) {
      @include list(map-get($gap-ratios, $breakpoint-key));
    }
  }
}
