@import "../../../assets/app.scss";

//! ********** VARIABLES **********

$gap: 5px;

$ratios: (
  "tn": 1.5,
  "xs": 2,
  "sm": 2.5,
  "md": 3,
  "lg": 3.5,
  "xl": 4,
  "wd": 4.5
  ) !default;

//! ********** MIXIN **********

@mixin list($ratio) {
  gap: calc($gap * $ratio
  );
}

//! ********** MAIN **********

.list {
  display: flex;
  flex-flow: wrap;
  gap: $gap;
  place-content: center;
  place-items: center;
  margin: 0;
  padding: 0;
  list-style: none;

  //! ********** RESPONSIVE **********

  @each $break-key, $breakpoint in $breakpoints {
    @media (min-width: $breakpoint) {

      @each $key, $ratio in $ratios {
        @if $key == $break-key {
          @include list($ratio);
        }
      }
    }
  }
}
