@import "../../../assets/app.scss";

//! ********** VARIABLES **********

$gap: 5px;

//! ********** MAIN **********

.list {
  display: flex;
  flex-flow: wrap;
  gap: $gap;
  place-content: center;
  place-items: center;
  margin: 0;
  padding: 0;
  list-style: none;

  //! ********** XS **********

  @media (min-width: $xs) {
    gap: calc($gap * 2);
  }

  //! ********** SM **********

  @media (min-width: $sm) {
    gap: calc($gap * 4);
  }

  //! ********** MD **********

  @media (min-width: $md) {
    gap: calc($gap * 6);
  }

  //! ********** LG **********

  @media (min-width: $lg) {
    gap: calc($gap * 8);
  }

  //! ********** XL **********

  @media (min-width: $xl) {
    gap: calc($gap * 10);
  }

  //! ********** WD **********

  @media (min-width: $wd) {
    gap: calc($gap * 12);
  }
}
