@import '../../assets/style';

[id=about] {
  &:hover > .title i {
    animation: turn-x 2s linear infinite reverse;
  }

  section {
    display: flex;
    flex-flow: column;
    gap: 10px;
    box-sizing: border-box;
    margin: auto;
    border-radius: 20px;
    padding: 10px;
    width: fit-content;
    height: 300px;
    background-color: var(--silver);
    color: var(--black);

    & > * {
      margin: 0;
    }

    i {
      animation: turn-3d 2s linear infinite reverse;
    }

    ul {
      display: flex;
      flex-flow: column;
      place-items: baseline;
    }

    @media (min-width: $md) {
      gap: 20px;
      padding: 20px;
      height: 420px;
    }

    @media (min-width: $lg) {
      gap: 30px;
      padding: 30px;
      height: 530px;
    }
  }
}
