@import "../../../assets/app.scss";

[id="stats"] {

  &:hover > *:first-child i,
  &:focus > *:first-child i {
    animation: turn-z 2s linear infinite reverse;
  }

  img {
    height: 105px;
  }

  @media (min-width: $xs) {
    img {
      height: 115px;
    }
  }

  @media (min-width: $sm) {
    img {
      height: 260px;
    }
  }

  @media (min-width: $md) {
    img {
      height: 340px;
    }
  }

  @media (min-width: $lg) {
    ul {
    flex-flow: wrap;
    }
  }

  @media (min-width: $xl) {
    img {
      height: 390px;
    }
  }
}
