@import "../../../assets/app.scss";

[id="links"] {
  margin-bottom: 50px;

  &:hover > hgroup i,
  &:focus > hgroup i {
    animation: turn-x 2s linear infinite reverse;
  }

  .collapse {
    .translate {
      animation: grow-min 500ms ease-in-out;
    }

    header:hover i,
    header:focus i {
      animation: turn-yz 2s linear infinite reverse;
    }
  }
}
