@import "../../../assets/app.scss";

//! ********** VARIABLES **********

$radius: 10px;

//! ********** MAIN **********

.card {
  margin: 0;
  border: solid 2px $silver;
  border-radius: $radius;
  width: 100%;
  background-color: $gray;

  &:hover,
  &:focus {
    transform: scale(1.02);
    transition: all 500ms;
  }

  & > *:first-child {
    border-radius: $radius $radius 0 0;
  }

  figcaption {
    display: flex;
    place-content: center;
    place-items: center;
    margin-top: -5px;
    box-sizing: border-box;
    border-radius: 0 0 $radius $radius;
    padding: 10px;
    height: 80px;
    background-color: $gray;
    color: $white;
  }

  &:hover figcaption,
  &:focus figcaption {
    color: $secondary;
  }
}
