@import "../../../assets/app.scss";

[id="blog"] {

  &:hover>*:first-child i,
  &:focus>*:first-child i {
    animation: turn-y 2s linear infinite reverse;
  }

  .collapse {
    &>figure {
      animation: slide-top 500ms ease-in-out;
    }

    &:hover i,
    &:focus i,
    &[open] i {
      animation: turn-xz 2s linear infinite reverse;
    }

    //? ********** XS **********

    @media (min-width: $xs) {
      li {
        width: calc((100% - 10px) / 2);
      }
    }

    //? ********** SM **********

    @media (min-width: $sm) {
      li {
        width: calc((100% - 15px) / 2);
      }
    }

    //? ********** MD **********

    @media (min-width: $md) {
      li {
        width: calc((100% - 40px) / 3);
      }
    }

    //? ********** LG **********

    @media (min-width: $lg) {
      li {
        width: calc((100% - 50px) / 3);
      }
    }

    //? ********** XL **********

    @media (min-width: $xl) {
      li {
        width: calc((100% - 90px) / 4);
      }
    }

    //? ********** WD **********

    @media (min-width: $wd) {
      li {
        width: calc((100% - 175px) / 5);
      }
    }
  }
}
