@import "../../../assets/style/main.scss";

//! ********** VARIABLES **********

$width-sizes: (
  "tn": 10px,
  "xs": 15px,
  "sm": 20px,
  "md": 25px,
  "lg": 30px,
  "xl": 35px,
  "wd": 40px
) !default;

$width-ratios: (
  "tn": 2,
  "xs": 2,
  "sm": 3,
  "md": 3,
  "lg": 4,
  "xl": 4,
  "wd": 5
) !default;

//! ********** MIXIN **********

@mixin blog($size, $ratio) {
  width: calc((100% - ($ratio - 1) * $size) / $ratio);
}

//! ********** MAIN **********

[id="blog"] {

  &:hover > *:first-child i,
  &:focus > *:first-child i {
    animation: turn-y 2s linear infinite reverse;
  }

  .collapse {
    & > figure {
      animation: slide-top 500ms ease-in-out;
    }

    &:hover i,
    &:focus i,
    &[open] i {
      animation: turn-xz 2s linear infinite reverse;
    }

    //! ********** RESPONSIVE **********

    li {
      @each $breakpoint-key, $breakpoint-value in $breakpoints {
        @media (min-width: $breakpoint-value) {

          @include blog(
            map-get($width-sizes, $breakpoint-key),
            map-get($width-ratios, $breakpoint-key)
          );
        }
      }
    }
  }
}
