@import '../../assets/style.scss';

//! ********** VARIABLES **********

$gap: 5px;
$padding: 5px;

$gap-ratios: (
  "xs": 2,
  "sm": 4,
  "md": 5,
  "lg": 6,
  "xl": 7
) !default;

$padding-ratios: (
  "xs": 2,
  "sm": 4,
  "md": 5,
  "lg": 6,
  "xl": 7
) !default;

$width-sizes: (
  "xs": 15%,
  "sm": 10%,
  "md": 25%,
  "lg": 40%,
  "xl": 45%
) !default;

$height-sizes: (
  "xs": 50px,
  "sm": -15px,
  "md": 10px,
  "lg": 40px,
  "xl": 65px
) !default;

//! ********** MIXIN **********

@mixin header($gap-ratio, $padding-ratio, $width-size, $height-size) {
  gap: calc($gap * $gap-ratio);

  ul {
    padding: calc($padding * $padding-ratio);
    width: calc(100% - $width-size);
    height: calc(210px + $height-size);
  }
}

//! ********** MAIN **********

[id=home] {
  display: flex;
  flex-flow: column;
  gap: $gap;

  &:hover > .title i {
    animation: turn-y 2s linear infinite reverse;
  }

  ul {
    flex-flow: column wrap;
    place-items: baseline;
    box-sizing: border-box;
    margin: auto;
    border-radius: 20px;
    padding: $padding;
    width: fit-content;
    height: auto;
    background-color: $silver;
    color: $black;
  }

  //! ********** RESPONSIVE **********

  @each $breakpoint-key, $breakpoint-value in $breakpoints {
    @media (min-width: $breakpoint-value) {
      @include header(
        map-get($gap-ratios, $breakpoint-key),
        map-get($padding-ratios, $breakpoint-key),
        map-get($width-sizes, $breakpoint-key),
        map-get($height-sizes, $breakpoint-key)
      );
    }
  }
}
