@import '../../assets/style.scss';

$gap: 5px;
$padding: 20px;

[id=home] {
  display: flex;
  flex-flow: column;
  gap: $gap;

  &:hover > .title i {
    animation: turn-y 2s linear infinite reverse;
  }

  ul {
    flex-flow: column wrap;
    place-items: baseline;
    box-sizing: border-box;
    margin: auto;
    border-radius: 20px;
    padding: $padding;
    width: fit-content;
    height: auto;
    background-color: $silver;
    color: $black;
  }
}
