@import '../../assets/style';

[id=home] {
  display: flex;
  flex-flow: column;

  &:hover > .title i {
    animation: turn-y 2s linear infinite reverse;
  }

  ul {
    flex-flow: column wrap;
    place-items: baseline;
    margin: auto;
    border-radius: 20px;
    padding: 20px;
    background-color: var(--silver);
    color: var(--black);
  }
}
