@import "../../../assets/app.scss";

$width: 20px;
$height: 32px;

.slider {
  position: relative;
  margin: 0;
  padding: 0 $width $height;

  & + * {
    display: flex;
    flex-flow: column;
    place-content: center;
    place-items: center;
  }

  nav {
    i {
      position: absolute;
      font-size: 2rem;
      color: $white;
      cursor: pointer;
    }

    [class*="left"],
    [class*="right"] {
      top: calc(50% - 36px);
    }

    [class*="left"] {
      left: 0;
    }

    [class*="right"] {
      right: 0;
    }

    [class*="play"],
    [class*="pause"] {
      left: calc(50% - 12px);
      bottom: 0;
    }

    b {
      display: none;
    }

    @media (min-width: $sm) {
      i {
        font-size: 5rem;
      }

      [class*="left"],
      [class*="right"] {
        top: calc(50% - 40px);
      }

      [class*="left"] {
        left: 10px;
      }

      [class*="right"] {
        right: 10px;
      }

      [class*="play"],
      [class*="pause"] {
        left: calc(50% - 12px);
        bottom: 10px;
      }

      b {
        display: block;
        bottom: 20px;
        left: calc(50% - 12px);
      }
    }
  }
}
