@import '../../../assets/style/main.scss';

//! ********** VARIABLES **********

$top-sizes: (
  "tn": 43px,
  "xs": 50px,
  "sm": 56px,
  "md": 63px,
  "lg": 70px,
  "xl": 77px,
  "wd": 84px
) !default;

$left-sizes: (
  "tn": 11px,
  "xs": 15px,
  "sm": 19px,
  "md": 22px,
  "lg": 26px,
  "xl": 30px,
  "wd": 34px
) !default;

$bottom-ratios: (
  "tn": 2px,
  "xs": 13px,
  "sm": 25px,
  "md": 37px,
  "lg": 48px,
  "xl": 61px,
  "wd": 74px
) !default;

$font-ratios: (
  "tn": 1.5,
  "xs": 2,
  "sm": 2.5,
  "md": 3,
  "lg": 3.5,
  "xl": 4,
  "wd": 4.5
) !default;

//! ********** MIXIN **********

@mixin slider($top-size, $left-size, $bottom-ratio, $font-ratio) {
  [class*="left"],
  [class*="right"] {
    top: calc(50% - $top-size);
  }

  [class*="play"],
  [class*="pause"] {
    left: calc(50% - $left-size);
    bottom: calc(0px - $bottom-ratio);
  }

  i {
    font-size: calc(1.5rem * $font-ratio);
  }
}

//! ********** MAIN **********

.slider {
  position: relative;
  margin: 0;
  padding: 0 20px 32px;

  & + * {
    display: flex;
    flex-flow: column;
    place-content: center;
    place-items: center;
  }

  nav {
    i {
      position: absolute;
      color: $white;
      cursor: pointer;

      &:hover,
      &:focus {
        color: $primary;
      }
    }

    [class*="left"] {
      left: 0;
    }

    [class*="right"] {
      right: 0;
    }

    @include slider(36px, 8px, 0px, 1);

    //! ********** RESPONSIVE **********

    @each $breakpoint-key, $breakpoint-value in $breakpoints {
      @media (min-width: $breakpoint-value) {

        @include slider(
          map-get($top-sizes, $breakpoint-key),
          map-get($left-sizes, $breakpoint-key),
          map-get($bottom-ratios, $breakpoint-key),
          map-get($font-ratios, $breakpoint-key)
        );
      }
    }
  }
}
