@import "../../../assets/app.scss";

//! ********** VARIABLES **********

$width: 220px;

//! ********** MAIN **********

.collapse {

  hgroup {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 10px 0 20px;
    background-color: $secondary;
    cursor: pointer;

    h3,
    p {
      margin: 5px;
    }
  }

  .isClosed > * {
    color: $gray;
  }

  .isOpen > * {
    background-color: $primary;
    color: $black;
  }

  header {
    margin: auto;
    width: $width;

    //! ********** XS **********

    @media (min-width: $xs) {
      width: calc($width + 10px);
    }

    //! ********** SM **********

    @media (min-width: $sm) {
      width: calc($width + 20px);
    }

    //! ********** MD **********

    @media (min-width: $md) {
      width: calc($width + 30px);
    }

    //! ********** LG **********

    @media (min-width: $lg) {
      width: calc($width + 40px);
    }

    //! ********** XL **********

    @media (min-width: $xl) {
      width: calc($width + 60px);
    }

    //! ********** WD **********

    @media (min-width: $wd) {
      width: calc($width + 80px);
    }
  }
}
