@import "../../../assets/app.scss";

//! ********** MAIN **********

.collapse {

  hgroup {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 10px 0 20px;
    background-color: $secondary;
    cursor: pointer;

    h3,
    p {
      margin: 5px;
    }
  }

  .isClosed > * {
    color: $gray;
  }

  .isOpen > * {
    background-color: $primary;
    color: $black;
  }

  header {
    margin: auto;
    width: 100%;

    //! ********** XS **********

    @media (min-width: $xs) {
      width: 80%;
    }

    //! ********** SM **********

    @media (min-width: $sm) {
      width: 60%;
    }

    //! ********** MD **********

    @media (min-width: $md) {
      width: 50%;
    }

    //! ********** LG **********

    @media (min-width: $lg) {
      width: 40%;
    }

    //! ********** XL **********

    @media (min-width: $xl) {
      width: 35%;
    }

    //! ********** WD **********

    @media (min-width: $wd) {
      width: 30%;
    }
  }
}
