@import "../../../assets/app.scss";

//! ********** VARIABLES **********

$gap: 5px;
$padding: 5px;
$height: 265px;

//! ********** MAIN **********

[id="about"] {

  &:hover > *:first-child i,
  &:focus > *:first-child i {
    animation: turn-x 2s linear infinite reverse;
  }

  & > *:last-child:hover > *:first-child i,
  & > *:last-child:focus > *:first-child i {
    animation: turn-3d 2s linear infinite reverse;
  }

  section {
    display: flex;
    flex-flow: column;
    gap: $gap;
    box-sizing: border-box;
    margin: auto;
    border-radius: 20px;
    padding: $padding;
    width: fit-content;
    height: $height;
    background-color: $silver;
    color: $black;

    & > * {
      margin: 0;
    }

    ul {
      display: flex;
      flex-flow: column;
      place-items: baseline;
      margin: auto;
      width: fit-content;
    }

    //? ********** XS **********

    @media (min-width: $xs) {
      gap: calc($gap * 2);
      padding: calc($padding * 2);
      height: calc($height + 65px);
    }

    //? ********** SM **********

    @media (min-width: $sm) {
      gap: calc($gap * 3);
      padding: calc($padding * 3);
      height: calc($height + 145px);
    }

    //? ********** MD **********

    @media (min-width: $md) {
      gap: calc($gap * 4);
      padding: calc($padding * 4);
      height: calc($height + 230px);
    }

    //? ********** LG **********

    @media (min-width: $lg) {
      gap: calc($gap * 5);
      padding: calc($padding * 5);
      height: calc($height + 290px);
    }

    //? ********** XL **********

    @media (min-width: $xl) {
      gap: calc($gap * 6);
      padding: calc($padding * 6);
      height: calc($height + 350px);
    }

    //? ********** WD **********

    @media (min-width: $wd) {
      gap: calc($gap * 7);
      padding: calc($padding * 7);
      height: calc($height + 430px);
    }
  }
}