@import "../../../assets/app.scss";

//! ********** VARIABLES **********

$font-size: 1.1rem;

//! ********** MAIN **********

[id="about"] {

  &:hover > hgroup i,
  &:focus > hgroup i {
    animation: flip-x 1s linear infinite alternate-reverse;
  }

  & > ul {
    display: flex;
    flex-flow: column wrap;
  }

  section {
    box-sizing: border-box;
    border: solid 2px $silver;
    border-radius: 20px;
    width: 100%;
    height: 450px;
    background-color: $gray;

    &:hover > hgroup i,
    &:focus > hgroup i {
      animation: flip-y 1s linear infinite alternate-reverse;
    }

    hgroup {
      margin-bottom: 20px;
    }

    & > ul {
      display: flex;
      flex-flow: column;
      gap: 10px;
      margin: auto;

      padding: 10px;
      width: fit-content;
      font-size: $font-size;
    }
  }

  //! ********** XS **********

  @media (min-width: $xs) {
    section > ul {
      font-size: calc($font-size * 1.1);
    }
  }

  //! ********** SM **********

  @media (min-width: $sm) {
    & > ul {
      flex-flow: row wrap;
      gap: 30px;

      & > li {
        width: calc((100% - 30px) / 2);
      }
    }

    section > ul {
      place-content: space-evenly;
      width: 100%;
      max-width: 280px;
      font-size: calc($font-size * 1.2);
    }
  }

  //! ********** MD **********

  @media (min-width: $md) {
    section > ul {
      max-width: 300px;
      font-size: calc($font-size * 1.3);
    }
  }

  //! ********** LG **********

  @media (min-width: $lg) {
    & > ul {
      place-content: center;

      & > li {
        width: calc((100% - 60px) / 3);
      }
    }

    section > ul {
      max-width: 330px;
      font-size: calc($font-size * 1.4);
    }
  }

  //! ********** XL **********

  @media (min-width: $xl) {
    section > ul {
      max-width: 350px;
      font-size: calc($font-size * 1.5);
    }
  }

  //! ********** WD **********

  @media (min-width: $wd) {
    & > ul {
      & > li {
        width: calc((100% - 90px) / 4);
      }
    }
  }
}
