@import "../../../assets/style/main.scss";

//! ********** VARIABLES **********

$gap: 10px;
$padding: 5px;
$height: 260px;

$gap-ratios: (
  "tn": 1.5,
  "xs": 2,
  "sm": 2.5,
  "md": 3,
  "lg": 3.5,
  "xl": 4,
  "wd": 4.5
) !default;

$padding-ratios: (
  "tn": 2,
  "xs": 3,
  "sm": 4,
  "md": 5,
  "lg": 6,
  "xl": 7,
  "wd": 8
) !default;

$height-sizes: (
  "tn": 50px,
  "xs": 100px,
  "sm": 150px,
  "md": 215px,
  "lg": 285px,
  "xl": 335px,
  "wd": 400px
) !default;

//! ********** MIXIN **********

@mixin about($gap-ratio, $padding-ratio, $height-size) {
  gap: calc($gap * $gap-ratio);
  padding: calc($padding * $padding-ratio);
  height: calc($height + $height-size);
}

//! ********** MAIN **********

[id=about] {

  &:hover > *:first-child i,
  &:focus > *:first-child i {
    animation: turn-x 2s linear infinite reverse;
  }

  & > *:last-child:hover > *:first-child i,
  & > *:last-child:focus > *:first-child i {
    animation: turn-3d 2s linear infinite reverse;
  }

  section {
    display: flex;
    flex-flow: column;
    gap: $gap;
    box-sizing: border-box;
    margin: auto;
    border-radius: 20px;
    padding: $padding;
    width: fit-content;
    height: $height;
    background-color: $silver;
    color: $black;

    & > * {
      margin: 0;
    }

    ul {
      display: flex;
      flex-flow: column;
      place-items: baseline;
      width: fit-content;
    }

    //! ********** RESPONSIVE **********

    @each $breakpoint-key, $breakpoint-value in $breakpoints {
      @media (min-width: $breakpoint-value) {

        @include about(
          map-get($gap-ratios, $breakpoint-key),
          map-get($padding-ratios, $breakpoint-key),
          map-get($height-sizes, $breakpoint-key)
        );
      }
    }
  }
}
