@import "../../../assets/app.scss";

//! ********** VARIABLES **********

$gap-size: 5px;
$padding-size: 5px;
$height-size: 265px;

$gap-ratios: (
  "tn": 2,
  "xs": 3,
  "sm": 4,
  "md": 5,
  "lg": 6,
  "xl": 7,
  "wd": 8
) !default;

$padding-ratios: (
  "tn": 2,
  "xs": 3,
  "sm": 4,
  "md": 5,
  "lg": 6,
  "xl": 7,
  "wd": 8
) !default;

$height-sizes: (
  "tn": 65px,
  "xs": 105px,
  "sm": 145px,
  "md": 230px,
  "lg": 290px,
  "xl": 350px,
  "wd": 430px
) !default;

//! ********** MIXINS **********

@mixin about-gap($ratio) {
  gap: calc($gap-size * $ratio);
}

@mixin about-padding($ratio) {
  padding: calc($padding-size * $ratio);
}

@mixin about-height($size) {
  height: calc($height-size + $size);
}

//! ********** MAIN **********

[id="about"] {

  &:hover > *:first-child i,
  &:focus > *:first-child i {
    animation: turn-x 2s linear infinite reverse;
  }

  & > *:last-child:hover > *:first-child i,
  & > *:last-child:focus > *:first-child i {
    animation: turn-3d 2s linear infinite reverse;
  }

  section {
    display: flex;
    flex-flow: column;
    gap: $gap-size;
    box-sizing: border-box;
    margin: auto;
    border-radius: 20px;
    padding: $padding-size;
    width: fit-content;
    height: $height-size;
    background-color: $silver;
    color: $black;

    & > * {
      margin: 0;
    }

    ul {
      display: flex;
      flex-flow: column;
      place-items: baseline;
      width: fit-content;
    }

    //! ********** RESPONSIVE **********

    @each $breakpoint-key, $breakpoint-value in $breakpoints {
      @media (min-width: $breakpoint-value) {

        @each $gap-key, $gap-value in $gap-ratios {
          @if $gap-key == $breakpoint-key {
            @include about-gap($gap-value);
          }
        }

        @each $padding-key, $padding-value in $padding-ratios {
          @if $padding-key == $breakpoint-key {
            @include about-padding($padding-value);
          }
        }

        @each $height-key, $height-value in $height-sizes {
          @if $height-key == $breakpoint-key {
            @include about-height($height-value);
          }
        }
      }
    }
  }
}
