@import "../../../assets/app.scss";

//! ********** VARIABLES **********

$gap: 5px;
$padding: 5px;

//! ********** MAIN **********

.link,
.btn {
  display: flex;
  place-content: center;
  place-items: center;
  gap: $gap;
  width: 100%;
  height: 100%;
  font-family: $monospace;
  text-decoration: none;
  color: inherit;
}

.btn {
  box-sizing: border-box;
  border: solid 2px $primary;
  border-radius: 10px;
  padding: calc($padding / 2) $padding;
  background-color: $gray;

  &:hover,
  &:focus {
    border-radius: 5px;
    background-color: $primary;
    color: $gray;
    transform: scale(1.05);
    transition: all 500ms;
  }
}

//? ********** SM **********

@media (min-width: $sm) {
  .link,
  .btn {
    gap: calc($gap * 2);
  }

  .btn {
    padding: $padding calc($padding * 2);
  }
}

//? ********** LG **********

@media (min-width: $lg) {
  .link,
  .btn {
    gap: calc($gap * 3);
  }

  .btn {
    padding: calc($padding * 1.5) calc($padding * 3);
  }
}

//? ********** WD **********

@media (min-width: $wd) {
  .link,
  .btn {
    gap: calc($gap * 4);
  }

  .btn {
    padding: calc($padding * 2) calc($padding * 4);
  }
}
