@import "../../../assets/app.scss";

//! ********** VARIABLES **********

$gap: 5px;
$padding: 5px;

$gap-ratios: (
  "tn": 1.5,
  "xs": 2,
  "sm": 2.5,
  "md": 3,
  "lg": 3.5,
  "xl": 4,
  "wd": 4.5
) !default;

$padding-ratios: (
  "tn": 1.5,
  "xs": 2,
  "sm": 2.5,
  "md": 3,
  "lg": 3.5,
  "xl": 4,
  "wd": 4.5
) !default;


//! ********** MIXINS **********

@mixin gap($ratio) {
  .link,
  .btn {
    gap: calc($gap * $ratio);
  }
}

@mixin padding($ratio) {
  .btn {
    padding: calc($padding * $ratio / 2) calc($padding * $ratio);
  }
}

//! ********** MAIN **********

.link,
.btn {
  display: flex;
  place-content: center;
  place-items: center;
  gap: $gap;
  width: 100%;
  height: 100%;
  font-family: $monospace;
  text-decoration: none;
  color: inherit;
}

.btn {
  box-sizing: border-box;
  border: solid 2px $primary;
  border-radius: 10px;
  padding: calc($padding / 2) $padding;
  background-color: $gray;

  &:hover,
  &:focus {
    border-radius: 5px;
    background-color: $primary;
    color: $gray;
    transform: scale(1.05);
    transition: all 500ms;
  }
}

//! ********** RESPONSIVE **********

@each $break-key, $breakpoint in $breakpoints {
  @media (min-width: $breakpoint) {

    @each $key, $ratio in $gap-ratios {
      @if $key == $break-key {
        @include gap($ratio);
      }
    }

    @each $key, $ratio in $padding-ratios {
      @if $key == $break-key {
        @include padding($ratio);
      }
    }
  }
}
