a {
  font-family: var(--monospace);
  text-decoration: none;
  color: inherit;
}

.btn {
  display: inline-block;
  border: solid 2px var(--primary);
  border-radius: 10px;
  padding: 5px 10px;
  background-color: var(--white);
  color: var(--primary);

  &:hover,
  &:focus {
    border-radius: 5px;
    background-color: var(--primary);
    color: var(--white);
  }
}
