@import "../../../assets/app.scss";

//! ********** VARIABLES **********

$gallery-gap: 50px;

//! ********** MAIN **********

.gallery {
  display: flex;
  flex-flow: wrap;
  gap: $gallery-gap;
  place-content: center;
  margin: 50px 0 100px;

  li {
    width: 100%;

    //! ********** XS **********

    @media (min-width: $xs) {
      width: calc((100% - $gallery-gap) / 2);
    }

    //! ********** MD **********

    @media (min-width: $md) {
      width: calc((100% - 2 * $gallery-gap) / 3);
    }

    //! ********** XL **********

    @media (min-width: $xl) {
      width: calc((100% - 3 * $gallery-gap) / 4);
    }
  }
}
