@import "../../../assets/main.scss";

$gallery-gap: 50px;

.gallery {

  ul {
    display: flex;
    flex-flow: wrap;
    gap: $gallery-gap;
    place-content: center;
    margin: 50px 0 100px;
  }

  li {
    width: 100%;

    @media (min-width: $xs) {
      width: calc((100% - $gallery-gap) / 2);
    }

    @media (min-width: $md) {
      width: calc((100% - 2 * $gallery-gap) / 3);
    }

    @media (min-width: $xl) {
      width: calc((100% - 3 * $gallery-gap) / 4);
    }
  }
}
