@import '../../assets/style.scss';

[id=blog] {
  &:hover > .title i {
    animation: turn-y 2s linear infinite reverse;
  }

  .collapse {
    & > figure {
      animation: slide-top 500ms ease-in-out;
    }

    &:hover i,
    & summary:focus i,
    &[open] i {
      animation: turn-xz 2s linear infinite reverse;
    }
  }

  @each $name, $color in $icons {
    @include icon($name, $color);
  }
}
