@import './style.scss';

:root {
  --sans-serif: Geologica, Helvetica, sans-serif;
  --serif:      Trocchi, Times, serif;
  --monospace:  UbuntuMono, Courier, monospace;

  --primary:    hsl(270, 100%, 80%);
  --secondary:  hsl(120, 100%, 80%);
  --white:      hsl(  0,   0%, 99%);
  --silver:     hsl(  0,   0%, 80%);
  --gray:       hsl(  0,   0%, 20%);
  --black:      hsl(  0,   0%,  1%);
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 30px 0 0;
  font-family: var(--sans-serif);
  font-size: 1rem;
  background-color: var(--black);
  color: var(--white);

  [id=home],
  [id=portfolio],
  [id=skills],
  [id=blog],
  [id=about] {
    border-top: solid 1px var(--silver);
    padding: 40px;
  }

  @media (min-width: $md) {
    font-size: 1.3rem;

    [id=home],
    [id=portfolio],
    [id=skills],
    [id=blog],
    [id=about] {
      border-width: 2px;
      padding: 70px 35px;
    }
  }

  @media (min-width: $lg) {
    font-size: 1.5rem;

    [id=home],
    [id=portfolio],
    [id=skills],
    [id=blog],
    [id=about] {
      border-width: 2px;
      padding: 70px 35px;
    }
  }
}

$buttons: (
  "github":       #010409,
  "linkedin-in":  #0077B5,
  "medium":       #00AB6C,
  "npm":          #EA2039
) !default;

@mixin button($icon, $color) {
  .fa-#{$icon}:hover,
  .fa-#{$icon}:focus {
    color: $color;
  }
}

@each $social-key, $social-value in $buttons {
  @include button($social-key, $social-value);
}
