//! ********** BREAKPOINTS **********

$xs: 22.5rem;    //  360px => mobile portrait
$sm: 48rem;      //  768px => mobile landscape & tablet portrait
$md: 64rem;      // 1024px => tablet landscape
$lg: 85.375rem;  // 1366px => small laptop
$xl: 96rem;      // 1536px => medium laptop & small desktop
$wd: 120rem;     // 1920px => large laptop & desktop

$breakpoints: (
  "tn": 0,
  "xs": $xs,
  "sm": $sm,
  "md": $md,
  "lg": $lg,
  "xl": $xl,
  "wd": $wd
) !default;

//! ********** COLORS **********

$primary:    hsl(270, 100%, 20%);
$secondary:  hsl( 60, 100%, 80%);
$red:        hsl(  0, 100%, 20%);
$green:      hsl(120, 100%, 80%);
$blue:       hsl(210, 100%, 20%);

$black:  hsl(0, 0%,  5%);
$slate:  hsl(0, 0%, 20%);
$gray:   hsl(0, 0%, 50%);
$silver: hsl(0, 0%, 80%);
$white:  hsl(0, 0%, 95%);

//! ********** FONTS **********

@font-face {
  font-family: "Geologica";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local("Geologica-Regular"),
    url("/fonts/Geologica-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Trocchi";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local("Trocchi-Regular"),
    url("/fonts/Trocchi-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Ubuntu Mono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local("UbuntuMono-Regular"),
    url("/fonts/UbuntuMono-Regular.ttf") format("truetype");
}

$sans-serif: Geo, Helvetica, sans-serif;
$serif: Trocchi, Times, serif;
$monospace: "Ubuntu Mono", Courier, monospace;

//! ********** SIZES **********

$size: 10px;

//! ********** MAIN **********

html {
  scroll-behavior: smooth;
}

body {
  text-align: center;
  font-family: $sans-serif;
  font-size: 1.2rem;
  background-color: $white;
}

body,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

[id="intro"],
[id="portfolio"],
[id="blog"],
[id="links"] {
  margin: auto;
  padding: calc($size * 2) $size 0;

  //! ********** XS **********

  @media (min-width: $xs) {
    padding: calc($size * 3) calc($size * 1.5) 0;
  }

  //! ********** SM **********

  @media (min-width: $sm) {
    padding: calc($size * 4) calc($size * 2) 0;
    max-width: calc($sm * 0.9);
  }

  //! ********** MD **********

  @media (min-width: $md) {
    padding: calc($size * 5) calc($size * 2.5) 0;
    max-width: calc($md * 0.9);
  }

  //! ********** LG **********

  @media (min-width: $lg) {
    padding: calc($size * 6) calc($size * 3) 0;
    max-width: calc($lg * 0.9);
  }

  //! ********** XL **********

  @media (min-width: $xl) {
    padding: calc($size * 7) calc($size * 3.5) 0;
    max-width: calc($xl * 0.9);
  }

  //! ********** WD **********

  @media (min-width: $wd) {
    padding: calc($size * 8) calc($size * 4) 0;
    max-width: calc($wd * 0.9);
  }
}
