@import '../../assets/style/main.scss';

//! ********** VARIABLES **********

$height: 85px;

$height-sizes: (
  "tn": 30px,
  "xs": 100px,
  "sm": 170px,
  "md": 240px,
  "lg": 310px,
  "xl": 380px,
  "wd": 450px
) !default;

//! ********** MIXIN **********

@mixin stats($size) {
  height: calc($height + $size);
}

//! ********** MAIN **********

[id=stats] {

  &:hover > .title i {
    animation: turn-z 2s linear infinite reverse;
  }

  img {
    height: $height;

    //! ********** RESPONSIVE **********

    @each $breakpoint-key, $breakpoint-value in $breakpoints {
      @media (min-width: $breakpoint-value) {
        @include stats(map-get($height-sizes, $breakpoint-key));
      }
    }
  }
}
