@import "../../../assets/style/main.scss";

//! ********** MAIN **********

[id="links"] {
  margin-bottom: 30px;

  &:hover > *:first-child i,
  &:focus > *:first-child i {
    animation: turn-z 2s linear infinite reverse;
  }

  .collapse {
    & > figure {
      animation: grow-min 500ms ease-in-out;
    }

    &:hover i,
    &:focus i {
      animation: turn-yz 2s linear infinite reverse;
    }
  }
}
