@import "../../../assets/app.scss";

//! ********** VARIABLES **********

$padding: 10px;

//! ********** MAIN **********

[id="intro"] {

  &:hover > hgroup i,
  &:focus > hgroup i {
    animation: turn-3d 2s linear infinite reverse;
  }

  ul {
    flex-flow: column;
    margin: auto;
    border-radius: 20px;
    padding: calc($padding / 2);
    width: fit-content;
    background-color: $silver;
    color: $black;
    animation: grow-max 1s;

    //! ********** SM **********

    @media (min-width: $sm) {
      padding: $padding;
    }

    //! ********** LG **********

    @media (min-width: $lg) {
      padding: calc($padding * 2);
    }
  }
}
