@import "../../../assets/style/main.scss";

//! ********** VARIABLES **********

$gap: 5px;
$padding: 5px;
$width: 85%;
$height: 185px;

$gap-ratios: (
  "tn": 2,
  "xs": 3,
  "sm": 4,
  "md": 5,
  "lg": 6,
  "xl": 7,
  "wd": 8
) !default;

$padding-ratios: (
  "tn": 2,
  "xs": 3,
  "sm": 4,
  "md": 5,
  "lg": 6,
  "xl": 7,
  "wd": 8
) !default;

$width-sizes: (
  "tn": 5%,
  "xs": 30%,
  "sm": 0%,
  "md": 10%,
  "lg": 20%,
  "xl": 25%,
  "wd": 30%
) !default;

$height-sizes: (
  "tn": 65px,
  "xs": 110px,
  "sm": 0px,
  "md": 30px,
  "lg": 65px,
  "xl": 90px,
  "wd": 125px
) !default;

//! ********** MIXIN **********

@mixin header($gap-ratio, $padding-ratio, $width-size, $height-size) {
  gap: calc($gap * $gap-ratio);

  ul {
    padding: calc($padding * $padding-ratio);
    width: calc($width - $width-size);
    height: calc($height + $height-size);
  }
}

//! ********** MAIN **********

[id=intro] {
  display: flex;
  flex-flow: column;
  gap: $gap;
  margin-top: 20px;

  &:hover > *:first-child i,
  &:focus > *:first-child i {
    animation: turn-y 2s linear infinite reverse;
  }

  ul {
    flex-flow: column wrap;
    place-items: baseline;
    box-sizing: border-box;
    overflow: scroll;
    margin: auto;
    border-radius: 20px;
    padding: $padding;
    width: fit-content;
    background-color: $silver;
    color: $black;
    animation: grow-max 1s;
  }

  //! ********** RESPONSIVE **********

  @each $breakpoint-key, $breakpoint-value in $breakpoints {
    @media (min-width: $breakpoint-value) {
      @include header(
        map-get($gap-ratios, $breakpoint-key),
        map-get($padding-ratios, $breakpoint-key),
        map-get($width-sizes, $breakpoint-key),
        map-get($height-sizes, $breakpoint-key)
      );
    }
  }
}
